*{padding: 0;margin: 0;}

html { 
  background: url('img/background.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: arial;
}

.wrap{
	width: 990px;
	height: auto;
	margin: 0 auto;
	color: white;
}

.page-title{
	margin: 40px 0;
	color: white;
}

.container{
	background: rgba(225, 225, 225, .5);
	width: 100%;
	height: auto;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	padding: 10px;
}

.container .game-day{
	color: white;
	font-weight: bold;
}

.container ul{
	list-style: none;
}
.container ul .game-match{
	height: 30px;
	margin: 10px;
	border-top: 1px solid #aaa;
	border-bottom: 1px solid #aaa;
}
.container ul .game-match div{
	float: left;
	margin: 5px 0;
	text-align: center;
}

.container ul .game-match .game-hour{
	width: 10%;
}
.container ul .game-match .game-stadium{
	width: 15%;
}
.container ul .game-match .game-teams{
	width: 50%;
}
.container ul .game-match .game-group{
	width: 25%;
}

.clearfix{
	clear:both;
}